@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --primary: #c70223;
  --second: #ff3f5fff;
  --text: #202224;
  --light: #d5d5d5ff;
}

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  position: relative;
  margin: 0;
}

a {
  text-decoration: none;
}
/* Header */
.header {
  background-color: #fff;
  border-bottom: 1px solid #E0E0E0;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
}

.header .inner-logo {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .inner-logo a {
  font-weight: 800;
  font-size: 24px;
}

.header .inner-logo a span:nth-child(1) {
  color: var(--primary);
}

.header .inner-logo a span:nth-child(2) {
  color: var(--text);
}

.header .inner-wrap {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  margin-right: 30px;
}

.header .inner-notify {
  position: relative;
  cursor: pointer;
}

.header .inner-notify img {
  height: 30px;
  width: auto;
}

.header .inner-notify span {
  background-color: #F93C65;
  height: 16px;
  min-width: 16px;
  padding: 0 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: -4px;
  right: -2px;
}

.header .inner-account {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.header .inner-account .inner-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.header .inner-account .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header .inner-account .inner-text .inner-name {
  font-weight: 700;
  font-size: 14px;
  color: #404040;
}

.header .inner-account .inner-text .inner-role {
  font-weight: 600;
  font-size: 12px;
  color: #565656;
}

.header .inner-button-menu {
  display: none;
}

@media (max-width: 991.98px) {
  .header .inner-button-menu {
    display: inline-block;
    font-size: 24px;
    color: var(--text);
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
  }
}

@media (max-width: 575.98px) {
  .header .inner-logo {
    width: auto;
    margin-left: 15px;
  }

  .header .inner-wrap {
    gap: 20px;
    margin-right: 15px;
  }
}
/* End Header */

/* Sider */
.sider {
  background-color: #fff;
  border-right: 1px solid #E0E0E0;
  width: 240px;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  left: 0;
  overflow-y: auto;
}

.sider::-webkit-scrollbar {
	width: 3px;
}

.sider::-webkit-scrollbar-thumb {
	background-color: #ddd;
}

.sider .inner-menu {
  list-style: none;
  margin: 11px 0;
  padding: 0;
}

.sider .inner-menu li a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 6px;
  margin-left: 24px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 14px;
  color: var(--text);
  position: relative;
}

.sider .inner-menu li a.active {
  background-color: var(--primary);
  color: #fff;
}

.sider .inner-menu li a i {
  font-size: 16px;
  width: 16px;
}

.sider .inner-menu li a.active::before {
  content: "";
  display: block;
  width: 4.5px;
  height: 100%;
  border-radius: 0 4px 4px 0;
  background-color: var(--primary);
  position: absolute;
  top: 0;
  left: -24px;
}

.sider hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0.6px solid #E0E0E0;
}

.sider .inner-menu li a.inner-logout {
  color: #F93C65;
}

.sider-overlay {
  display: none;
}

@media (max-width: 991.98px) {
  .sider {
    display: none;
  }

  .sider.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    z-index: 10000;
  }

  .sider-overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000078;
    z-index: 9999;
  }
}
/* End Sider */

/* Main */
.main {
  position: absolute;
  top: 70px;
  left: 240px;
  width: calc(100% - 240px);
  background-color: #F5F6FA;
  min-height: calc(100vh - 70px);
  padding: 30px;
}

@media (max-width: 991.98px) {
  .main {
    left: 0;
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .main {
    padding: 30px 15px;
  }
}
/* End Main */

//lesson-list
.section-1 {
  display:flex;
}

.section-1 a {
  padding:15px 20px;
  background:var(--primary);
  border:none;
  color:white;
  border-radius:4px;
  cursor:pointer;
  font-size:14px;
}
.section-1 a:hover {
  background:var(--second);
}

.section-2{
  margin-top:20px;
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}
.section-2 .inner-item {
  position:relative;
  width: 175px;
  height: 175px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display:flex;
  align-items:center;
  flex-direction:column;
  padding:10px 5px;
  border-radius:8px;
}
.section-2 .inner-item img {
  width: 133px;
  height: 133px;
  border-radius:8px;
  transition: transform 0.3s ease;
}
.section-2 .inner-item .inner-title{
  margin-top:5px;
  font-weight:600;
}
.section-2 img:hover{
  transform: scale(1.1); 
}

.section-2 .inner-item .inner-delete-lesson {
  position: absolute;
  top: -8px;   
  right: -8px; 
  cursor: pointer;
  background-color: var(--primary);
  width: 20px;
  height: 20px;
  color: #fff;
  display: flex;
  align-items: center;    
  justify-content: center;   
  border-radius: 50%;    
  font-size: 12px;
  line-height: 1;    
  font-weight: bold;         
}
.section-2 .inner-item .inner-delete-lesson:hover {
   background-color: var(--second);
}

//end lesson-list

//lesson-create
.section-3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-3 .inner-item{
  display:flex;
  flex-direction:column;
}
.section-3 .inner-item label{
  font-size:13px;
  color:var(--text);
  font-weight:600;
}
.section-3 .inner-item input{
  padding:10px 12px;
  outline:none;
  border:1px solid var(--light);
  width:300px;
}
.section-3 .item{
  margin-top:10px;
}
.section-3 .item label{
  font-size:13px;
  color:var(--text);
  font-weight:600;
}
.section-3 .inner-upload-image {
  display: block; 
  width: 150px;
  height: 150px;
}


.section-3 .inner-upload-image .filepond--root {
  margin-bottom: 0;
  height: 100% !important;
}

.section-3 .inner-upload-image .filepond--credits {
  display: none;
}

.section-3 .inner-upload-image .filepond--drop-label {
  min-height: 100%;
  cursor: pointer;
}

.section-3 .inner-upload-image .filepond--drop-label label {
  font-weight: 500;
  font-size: 50px;
  cursor: pointer;
}

.section-3 .inner-upload-image .filepond--action-remove-item {
  background: #F93C65;
  width: 22px;
  height: 22px;
  top: 0px;
  left: calc(50% - 11px);
  cursor: pointer;
}

.section-3 .inner-upload-image .filepond--panel-root {
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  background: #F5F6FA;
}

.section-3 .inner-upload-image input {
  display: none;
}

.section-3 .inner-upload-image .inner-upload {
  width: 150px;
  height: 150px;
  background-color: #F5F6FA;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 50px;
  color: var(--color-text);
  cursor: pointer;
}

.section-3 .inner-upload-image .inner-remove {
  width: 22px;
  height: 22px;
  background-color: #F93C65;
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: -11px;
  right: -11px;
}

.section-3 button {
  margin-top:20px;
  padding:15px 20px;
  background:var(--primary);
  border:none;
  color:white;
  border-radius:4px;
  cursor:pointer;
  font-size:14px;
}
.section-3 button:hover {
  background:var(--second);
}

.section-4{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-4 .word {
  margin-top:-15px;
  position:relative;
}
.section-4 .word .inner-delete-vocab{
  position:absolute;
  top:120px;
  left:230px;
  background:var(--primary);
  color:white;
  padding: 8px 14px;
  font-size:14px;
  border-radius:4px;
  cursor:pointer;
}
.section-4 .word .inner-delete-vocab:hover{
  background:var(--second);
}
.section-4 .word .inner-item{
  display:flex;
  flex-direction:column;
}
.section-4 .word .number{
  padding:5px 10px;
  color:white;
  background:var(--primary);
  width:120px;
  text-align:center;
  border-radius:8px;
  font-size:14px;
}
.section-4 .word .inner-item label{
  font-size:13px;
  color:var(--text);
  font-weight:600;

}
.section-4 .word .inner-item input{
  padding:10px 12px;
  outline:none;
  border:1px solid var(--light);
  width:300px;
}
.section-4 .word .item{
  margin-bottom:10px;
  margin-top:10px;
}
.section-4 .word .item label{
  font-size:13px;
  color:var(--text);
  font-weight:600;

}
.section-4 .word .inner-upload-image {
  display: block; 
  width: 150px;
  height: 150px;
}


.section-4 .word .inner-upload-image .filepond--root {
  margin-bottom: 0;
  height: 100% !important;
}

.section-4 .word .inner-upload-image .filepond--credits {
  display: none;
}

.section-4 .word .inner-upload-image .filepond--drop-label {
  min-height: 100%;
  cursor: pointer;
}

.section-4 .word .inner-upload-image .filepond--drop-label label {
  font-weight: 500;
  font-size: 50px;
  cursor: pointer;
}

.section-4 .word .inner-upload-image .filepond--action-remove-item {
  background: #F93C65;
  width: 22px;
  height: 22px;
  top: 0px;
  left: calc(50% - 11px);
  cursor: pointer;
}

.section-4 .word .inner-upload-image .filepond--panel-root {
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  background: #F5F6FA;
}

.section-4 .word .inner-upload-image input {
  display: none;
}

.section-4 .word .inner-upload-image .inner-upload {
  width: 150px;
  height: 150px;
  background-color: #F5F6FA;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 50px;
  color: var(--color-text);
  cursor: pointer;
}

.section-4 .word .inner-upload-image .inner-remove {
  width: 22px;
  height: 22px;
  background-color: #F93C65;
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: -11px;
  right: -11px;
}

.button-lesson{
  margin-top:20px;
  padding:15px 20px;
  background:var(--primary);
  border:none;
  color:white;
  border-radius:4px;
  cursor:pointer;
  font-size:14px;
}
.button-lesson:hover {
  background:var(--second);
}
.class-button{
  display:flex;
  justify-content:center;
}
.button-edit-lesson{
  margin-top:20px;
  padding:20px 30px;
  background:var(--primary);
  border:none;
  color:white;
  border-radius:4px;
  cursor:pointer;
  font-weight:700;
  font-size:18px;
}
.button-edit-lesson:hover {
  background:var(--second);
}
.addWordBtn{
  padding:15px 20px;
  background:var(--primary);
  border:none;
  color:white;
  border-radius:4px;
  cursor:pointer;
  font-size:14px;
}
.addWordBtn:hover {
  background:var(--second);
}
//End lesson-create

.swiper {
  width: 400px;
  height: 400px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 400px;
}